@page
@model MomAndChildren.RazorWebApp.Pages.PaymentHistoryModel
@{
    ViewData["Title"] = "Payment history page";
    var paymentHistories = Model.PaymentHistories;
}

<div class="text-center">
    <h1 class="display-6">Currency management</h1>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">PaymentId</th>
                    <th class="card-title text-center">Payment Method</th>
                    <th class="card-title text-center">Payment Date</th>
                    <th class="card-title text-center">OrderId</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblPaymentHistories">
                @if (paymentHistories.Count > 0)
                {
                    foreach (var paymentHistory in paymentHistories)
                    {
                        <tr>
                            <td>@paymentHistory.PaymentId</td>
                            <td>@paymentHistory.PaymentMethod</td>
                            <td>@paymentHistory.PurchaseDate</td>
                            <td>@paymentHistory.OrderId</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
 
<div class="modal fade" id="currencyModal" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="currencyModalLabel">Currency Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="currencyModalContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="OrderId">Select Order:</label>
                                    <select asp-for="Payment.OrderId" asp-items="Model.OrderList" class="form-control">
                                        <option value="">-- Select an Order --</option>
                                    </select>
                                </div>
                                @* <div class="col-md-6">
                            <label for="1">Active</label>
                            <input asp-for="Currency.IsActive" type="checkbox" />
                            <input type="checkbox" id="Currency_IsActive" name="Currency.IsActive" class="form-check-input" />
                            <input type="hidden" id="Currency_IsActive" value="@Model.Currency?.IsActive" />
                            </div> *@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">Name</label>
                                    <input asp-for="Payment.PaymentMethod" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="1">Nation</label>
                                    <input asp-for="Payment.PurchaseDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>@Model.Message</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function add() {
            $('#currencyModal').modal('show');
        }
    </script>
}
